nav {
  grid-area: nav;
}
header {
  grid-area: header;
}
footer {
  grid-area: footer;
}
#section1 {
  grid-area: section1
}
#section2 {
  grid-area: section2
}
#section3 {
  grid-area: section3
}
#section4 {
  grid-area: section4
}
#section5 {
  grid-area: section5
}
  body {
    display: grid;
    grid-gap: 0;
    grid-template-areas:
      "nav"
      "header"
      "section1"
      "section2"
      "section3"
      "section4"
      "section5"
      "footer"
  }
